<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h2>You are about to edit user: "<%= result.email %>"</h2>
    <form method="post" action="/users/<%= result.id %>?_method=PATCH">
        <textarea name="username"><%= result.username %></textarea><br>
        <input type="password" name="passward" placeholder="Enter password">
        <button>Edit</button>
    </form>
</body>
</html>
